{% load static %}
<div class="header">
    <div class="header-title">
    
        <a href="{% url 'home' %}" style="text-decoration: none;color: #2583D6;"><i class="ri-bug-line"></i>
            <!-- <img src="{% static 'images/sitelogo.png' %}" alt="Bug Tracker Logo" width="60px"  style="border-radius: 50px;"> -->
        <span>BUG TRACKER</span>
        </a>
    </div>
    <div class="user-info">
        <div class="user-details">
            <div class="user-name">{{ username }}</div>
            <div class="user-role">Admin</div>
        </div>
        <a href="{% url 'developer_profile' %}" class="profile-link">
            <div class="user-avatar" style="background-image: url('/static/images/userprofile.jpg');"></div>
        </a>
    </div>
    
</div>


